* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body , html {
  height: 100%;
}

body {
  background: linear-gradient(to top left,#358e38b1,transparent),
              linear-gradient(to bottom right,#09629da8,transparent),
              linear-gradient(to top right,#13262dc6,transparent),
              linear-gradient(to bottom left,#e0ffe1e2,transparent );
  background-blend-mode: overlay	;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 60px;
}

.navBar div {
  color: white;
  font-size: 200%;
}


.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: 20vh;
}

.Link,
.Link:visited,
.Link:hover,
.Link:active {
  text-decoration: none;
  color: white;
}

.bildContainer {
  height: 20vw;
  width: 20vw;
  background-color: black;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
  border-radius: 2vw;
  border: 1px solid rgb(147, 147, 147);
  transition:  0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  z-index: -1;
  position: absolute;
  bottom: 0;
  height: 7vw;
  width: 20vw;
  background: linear-gradient(to bottom,rgb(89, 89, 89),rgb(237, 237, 237));
  border-radius: 2vw;
  border: 1px solid rgb(147, 147, 147);
  transition: height 0.2s ease-out;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.3s;
}

.bildContainer:hover ~ .textContainer {
  bottom: -4vw;
}
.bildContainer:hover{
  box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.7);
}

img {
  width: 80%;
}

#menüBild{
  width: 8%;
}


h1 {
  position: relative;
  bottom: 10%;
  color: rgb(49, 49, 49);
  font-family: Impact;
  font-size: 2.5vw;
}

.unterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}